@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,300;1,300&family=Piazzolla:ital,wght@0,300;0,400;0,800;1,200&family=Poppins:wght@100;200;300;400&family=Roboto:wght@300&family=Source+Code+Pro:wght@300&family=Ubuntu:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.box{
    height: 400px;
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    position: relative;
    background: linear-gradient(rgb(255, 166, 0), rgb(244, 244, 243));
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.heading .fa-solid{
    font-size: 25px;
    color: rgb(255, 94, 0);
}
.heading h1{
    font-weight: 900;
    font-size: 23px;
}
.show-pass-div{
    border: none;
    border-radius: 2px;
    height: 45px;
    width: 330px;
    background: rgb(229, 229, 205);
    padding: 5px;
    color: rgb(255, 94, 0);
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password-length{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 600;
    font-size: 17px;
}
.slider {
    appearance: none;
    width: 180px;
    height: 7px;
    background: white;
    outline: none;
  }
  
  
  /* for chrome/safari */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 25px;
    background: rgb(255, 94, 0);
    cursor: pointer;
    border: 1px solid black;
  }
  
  /* for firefox */
  .slider::-moz-range-thumb {
    width: 20px;
    height: 60px;
    cursor: pointer;
    border-radius: 4px;
  }

.uppercase, .numbers, .symbols{
    display: flex;
    justify-content: space-between;
    gap: 200px;
    line-height: 25px;
    font-weight: 600;
    font-size: 15px;
}
.password-type input{
    accent-color: rgb(255, 94, 0);
}
.btn-container{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
}
.btn-container .btn{
    background-color: rgb(255, 166, 0);
    padding: 15px;
    flex-grow: 1;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}
.btn-container .btn:hover{
    background-color: rgb(235, 158, 15);
    transition: .1s ease-in;
}
@media (max-width: 425px) {
    .box{
        height: 100%;
        width: 100%;
    }
    .heading .fa-solid{
        font-size: 15px;
    }
    .heading h1{
        font-size: 13px;
    }
    .show-pass-div{
        height: 25px;
        width: 200px;
        padding: 3px;
        font-size: 10px;
    }
    .password-length{
        font-size: 10px;
    }
    .slider {
        width: 120px;
        height: 5px;
    }      
      
      /* for chrome/safari */
      .slider::-webkit-slider-thumb {
        width: 8px;
        height:20px;
    }
      
      /* for firefox */
      .slider::-moz-range-thumb {
        width: 8px;
        height:20px;
    }
      .uppercase, .numbers, .symbols{
        gap: 90px;
        font-weight: 600;
        font-size: 10px;
    }
    .btn-container .btn{
        padding: 10px;
        font-size: 10px;
    }
}


